<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather.ly</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Header for our app-->
    <header>
      <h1>Weatherly</h1>
    </header>

  <div class="card">
      <div class="card_header">
        <h2>Toronto</h2>
        </div>
      <div class="card_body">
        <h3>10&deg;</h3>
        <h3>Cloudy</h3>
        <img >
        </div>
    </div>

     <!-- Form to enter weather data -->

     <form>
    <input type="text" id="city" placeholder="Enter your city"><input type="submit" value="Submit">
    </form>


  </body>
</html>
